<table class="border-collapse w-full table-sm text-sm">
    <thead class='rounded-lg'>
        <tr class='bg-sky-700 text-white rounded-lg'>
            {% if library == 'all' %}

            {% for col in ['Title', 'Lib-Number'] %}
            <th>{{col}}</th>
            {% endfor %}

            {% else %}

            {% for col in ['Title', 'Number'] %}
            <th>{{col}}</th>
            {% endfor %}

            {% endif %}

            <th class="flex items-center justify-center gap-1">Status
                <input class="checkbox checkbox-xs checkbox-info border-white border-2" type="checkbox"
                    id="availableCheckbox">
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody id="myTable">
        {% for data in api_data %}
        <tr class='rounded-lg'>
            <!-- Title -->
            <td>
                <div class="inline-block">
                    <a href="https://catalogue.nlb.gov.sg/search/card?recordId={{data['BID']}}"
                        class="hidden md:block text-blue-800 hover:text-blue-600 font-semibold underline"
                        target="_blank" rel="noopener noreferrer">{{
                        data['TitleName'].split(" | ", 1)[0] }}</a>

                    <a href="https://catalogue.nlb.gov.sg/search/card?recordId={{data['BID']}}"
                        class="md:hidden block text-blue-800 hover:text-blue-600 font-semibold underline"
                        target="_blank" rel="noopener noreferrer">{{
                        data['TitleName'].split(" : ", 1)[0] }}</a>
                </div>
            </td>

            <!-- BranchName -->
            {% if library == "all" %}

            <td>
                <div class="hidden md:block">
                    <a class="text-blue-800 hover:text-blue-600 hover:cursor-pointer underline"
                        hx-target=".main_content" hx-indicator="#head-spinner"
                        hx-get="/{{username}}/lib/{{data['BranchName'].lower().strip()}}">
                        {{ data["BranchName"] }}
                    </a> - {{ data['CallNumber'] }}
                </div>
                <div class="block md:hidden">
                    <a class="text-blue-800 hover:text-blue-600 hover:cursor-pointer underline"
                        hx-target=".main_content" hx-indicator="#head-spinner"
                        hx-get="/{{username}}/lib/{{data['BranchName'].lower().strip()}}">
                        {{ data["BranchName"] }}
                    </a><br> {{ data['CallNumber'] }}
                </div>
            </td>

            {% else %}

            <!-- CallNumber -->
            <td class="w-1/12">{{ data['CallNumber'] }}</td>

            {% endif %}

            <!-- Status -->
            <td class="w-1/12 px-3 py-1 text-xs">
                {% if data["StatusDesc"] == "Available" %}
                <span class="px-2 py-1 font-semibold leading-tight text-green-700
                            bg-green-100 rounded-lg text-center">{{ data["StatusDesc"] }}
                </span>
                {% else %}
                <span class="px-2 py-1 font-semibold leading-tight text-red-700
                            bg-red-100 rounded-lg text-center">{{ data["StatusDesc"] }}
                </span>
                {% endif %}
            </td>

            {% if library == 'all' %}

            <td class="px-1">
                <form action="/update_book/{{ data['BID'] }}" method="POST">
                    <button type="submit" class="hidden md:block bg-sky-700 px-3 py-1 rounded-lg
                        hover:text-white hover:bg-sky-500 text-white">
                        {{ data['UpdateTime'] }}</button>
                </form>
            </td>

            {% else %}

            <!-- Update Button BID -->
            <td class="px-1">
                <form action="/update_book/{{ data['BID'] }}" method="POST">
                    <button type="submit" class="hidden md:block bg-sky-700 px-3 py-1 rounded-lg
                        hover:text-white hover:bg-sky-500 text-white">
                        {{ data['UpdateTime'] }}</button>

                    <button type="submit" class="md:hidden block bg-sky-700 px-3 py-1 rounded-lg
                        hover:text-white hover:bg-sky-500 text-white">
                        <i class="fas fa-sync items-center justify-center"></i>
                    </button>
                </form>
            </td>

            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
