{% for data in api_data %}
<div class="card w-full card-bordered card-compact">
    <div class="card-body">
        <div class="flex items-center">
            <p class="flex-grow px-2">
                <a href="https://catalogue.nlb.gov.sg/search/card?recordId={{data['BID']}}"
                    class="hidden md:block text-blue-800 hover:text-blue-600 font-semibold underline" target="_blank"
                    rel="noopener noreferrer">{{
                    data['TitleName'].split(" | ", 1)[0] }}</a>

                <a href="https://catalogue.nlb.gov.sg/search/card?recordId={{data['BID']}}"
                    class="md:hidden block text-blue-800 hover:text-blue-600 font-semibold underline" target="_blank"
                    rel="noopener noreferrer">{{
                    data['TitleName'].split(" : ", 1)[0] }}</a>

                <span class="badge badge-outline font-semibold">{{ data['CallNumber'] }}</span>

                {% if data["StatusDesc"] == "Available" %}
                <span class="badge badge-outline font-semibold text-green-700 bg-green-100">{{ data['StatusDesc']
                    }}</span>

                {% else %}
                <span class="badge badge-outline font-semibold text-red-700 bg-red-100">{{ data['StatusDesc'] }}</span>

                {% endif %}

                <span class="badge badge-outline font-semibold bg-primary-content">{{ data['BranchName'] }}</span>

                <b>Author:</b> {{ data['Author'] }}
            </p>
            <form action="/update_book/{{ data['BID'] }}" method="POST">
                <button type="submit" class="hidden md:block bg-sky-700 px-3 py-1 rounded-lg
                        hover:text-white hover:bg-sky-500 text-white">
                    {{ data['UpdateTime'] }}</button>

                <button type="submit" class="md:hidden block bg-sky-700 px-3 py-1 rounded-lg
                        hover:text-white hover:bg-sky-500 text-white">
                    <i class="fas fa-sync items-center justify-center"></i>
                </button>
            </form>
        </div>
    </div>
</div>

{% endfor %}
