<li>
    <details class='dropdown'>
        <summary class="hover:text-white hover:bg-sky-500">
            <i class="fas fa-city"></i>Libraries
        </summary>
        <ul class="bg-sky-700 text-sm text-white w-56">
            <li>
                <a class="py-0.5 hover:text-white hover:bg-sky-500" hx-get="/update_header" hx-swap="outerHTML"
                    hx-target="#header" hx-indicator="#head-spinner">
                    Update Book Count
                </a>
            </li>
            <li>
                <a class="py-0.5 hover:text-white hover:bg-sky-500" hx-get="/{{username}}/lib/all"
                    hx-target=".main_content" hx-indicator="#head-spinner">
                    <i class="fas fa-city"></i>
                    All Libraries - {{all_avail_books|length}}
                </a>
            </li>

            {% for lib in lib_book_summary %}
            <li>
                <a class="py-0.5 hover:text-white hover:bg-sky-500" hx-target=".main_content"
                    hx-get="/{{username}}/lib/{{lib.keys()|list|first|lower}}" hx-indicator="#head-spinner">
                    {{lib.keys()|list|first}} -
                    {{lib.values()|list|first}}
                </a>
            </li>
            {% endfor %}
        </ul>
    </details>
</li>

<script>
    window.addEventListener('click', function (e) {
        document.querySelectorAll('.dropdown').forEach(function (dropdown) {
            if (!dropdown.contains(e.target)) {
                // Click was outside the dropdown, close it
                dropdown.open = false;
            }
        });
    });
</script>
