p {
    font-size: 20px;
}
body {
    background-color: #f5f5f5; /* or any shade of gray you prefer */
}
table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #000000;
}
th {
    background-color: #000000;
    text-align: center;
    padding: 8px;
    font-size: 18px;
    font-weight: bold;
    border: 1px solid #000000;
}
td {
    padding: 8px;
    border: 1px solid #ddd;
    border-color: #000000;
}
.form-check {
    color: white;
    padding-top: 9px;
}
.word {
    background-color: lightgrey;
    padding: 5px;
}

.container {
  border: 2.5px solid black;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  margin-top: 1em;
  text-align: center;
  width: 400px; /* increased width */
  padding: 40px; /* increased padding */
}

h2 {
  margin-top: 0;
}

form {
  display: inline-block;
  text-align: left;
}

label {
  display: block;
  margin-bottom: 10px;
}

#myInput {
    border: 2.5px solid black;
    width: 300px;
    height: 35px;
    padding: 10px;
}
