{% include 'header.html' %}

<div class="flex flex-col mx-auto pt-10 text-blue-800 items-center justify-start">
    <div class="text-xl font-semibold pt-10 pb-4 px-10"></div>
    <div class="text-xl rounded-lg justify-center w-1/4">
        <form action="/" method="POST">
            <div class="mb-3">
                <label for="email" class="form-label mx-3">Enter your email
                    address to receive an email to reset your password</label>
                <input type="email"
                    class="mt-2 py-2 mx-3 md:text-base text-sm form-control rounded-lg border-2 border-blue-800"
                    id='email' name='email' required placeholder="ricknmorty@streaming.com">
            </div>
            <button type="submit"
                class="bg-sky-700 text-white border-white rounded-lg py-1.5 mt-4 px-3 mx-3">Submit</button>
        </form>
    </div>
</div>


{% include 'footer.html' %}
