{% include 'header.html' %}

<div class="flex flex-col mx-auto pt-10 text-blue-800 items-center justify-start">
    <div class="text-xl font-semibold pt-10 pb-4 px-10">Reset your password</div>
    <div class="text-xl rounded-lg justify-center md:w-1/4">
        <form action="/reset_password" method="GET">

            <label for="username" class="mx-3 pt-1">Username</label>
            <input type="text" class="flex mt-2 py-2 mx-3 w-11/12 md:text-base text-sm form-control 
                        rounded-lg border-2 border-sky-800" id='username' name='username' required />

            <label for="pw_qn" class="mx-3 pt-4">Password Reset Question</label>
            <select id='pw_qn' name='pw_qn' class="select max-w-xs border-sky-800 border-2 mt-2
                relative-w-full mx-3 w-11/12">
                <option>My pet's name</option>
                <option>My Birthday (DD/MM/YY)</option>
                <option>My Favourite Fruit</option>
                <option>My Favourite City</option>
                <option>My Favourite Local Food</option>
            </select>

            <div class="relative w-full"> <!-- Password show and hide button -->
                <input type="text" class="flex mt-2 py-2 mx-3 w-11/12 md:text-base text-sm form-control 
                        rounded-lg border-2 border-sky-800" id='pw_ans' name='pw_ans' required />
            </div>

            <label for="password" class="mx-3 pt-4">New Password</label>
            <div class="relative w-full" <!-- Password show and hide button -->
                <div class="absolute inset-y-0 right-0 flex items-center px-4 xs:px-4 sm:px-4 xl:px-8">
                    <input class="hidden js-password-toggle" id="login-toggle" type="checkbox" />
                    <label class="bg-white rounded-lg px-2 mx-1
                            text-xs text-gray-600 font-semibold cursor-pointer js-password-label"
                        for="login-toggle">show</label>
                </div>
                <!-- Password show and hide button -->

                <input type="password" class="flex mt-2 py-2 mx-3 w-11/12 md:text-base text-sm form-control 
                        rounded-lg border-2 border-sky-800 js-password" id='password' name='password' required />
            </div>
            <button type="submit" class="bg-sky-700 text-white border-white rounded-lg py-1.5 mt-4 px-3 mx-3">
                Submit</button>
            <a href="/" class="bg-red-700 text-white border-white rounded-lg py-2 mt-4 px-3 mx-3">
                Go Back</a>
        </form>
    </div>
</div>

{% include 'footer.html' %}

<script>
    const passwordToggle = document.querySelector('.js-password-toggle')

    passwordToggle.addEventListener('change', function () {
        const password = document.querySelector('.js-password'),
            passwordLabel = document.querySelector('.js-password-label')

        if (password.type === 'password') {
            password.type = 'text'
            passwordLabel.innerHTML = 'hide'
        } else {
            password.type = 'password'
            passwordLabel.innerHTML = 'show'
        }

        password.focus()
    })
</script>
