{% include 'header.html' %}
{% include 'navbar.html' %}

<div class="h-[120vh] md:h-[90vh] pt-8 mt-20 pb-3 px-10 sm:px-20 xl:px-40 text-gray-600">
    <p class="text-xl">A library-centric view of your favourite Singapore library books!</p>
    <div class='md:flex text-base py-3 space-x-1'>
        <div>
            <p>
                Using the <a class="font-semibold underline" target="_blank"
                    href="https://www.nlb.gov.sg/main/partner-us/contribute-and-create-with-us/NLBLabs">official NLB
                    REST v2 APIs</a> <span class="font-bold italic">(29-11-2023)</span>, this site aims to provide
                an easier, single view of all your saved Singapore library books. Best viewed on desktop, but kinda
                mobile friendly. Read about this project <a target="_blank"
                    class="text-gray-600 hover:text-gray-500 font-semibold underline"
                    href="https://medium.com/@cliffy-gardens/my-singapore-library-app-is-live-b63fc9f5ae9a"><i
                        class="fab fa-medium fa-lg"></i></a> Connect professionally <a
                    href="https://www.linkedin.com/in/cliff-chew-kt/" target="_blank"
                    class="text-gray-600 hover:text-gray-500"><i class="fab fa-linkedin fa-lg"></i>
                </a>
            </p>
            <p class='pt-2'>
                As of 10th Oct 2024, I switched to a new Google OAuth login.
                I will try to implement back this password login flow in the
                near future. Current users can port over to this new Google
                login flow by sending me your gmail through Linkedin, as I
                respond the fastest there!
            </p>
        </div>
    </div>

    <div class="flex flex-col md:flex-row items-center justify-center md:space-x-16">
        <div x-data="{ currentTab: 0 }" class="w-full flex justify-center py-8">
            <!-- Tabs (Above Panel) -->
            <div class="w-full md:w-1/2">
                <ul class="flex justify-center space-x-4 border-b border-gray-300 mb-4">
                    <li @click="currentTab = 0">
                        <button :class="currentTab === 0 ? 'bg-gray-300 text-black' : 'bg-white text-gray-700'"
                            class="px-4 py-2 border border-gray-300 rounded-t hover:bg-gray-100 transition duration-300">
                            Google login
                        </button>
                    </li>
                    <!-- DO NOT DELETE - KEEPING THESE FOR FUTURE ADDITION OF OTHER LOGIN FLOWS-->
                    <!-- <li @click="currentTab = 1"> -->
                    <!--     <button :class="currentTab === 1 ? 'bg-gray-300 text-black' : 'bg-white text-gray-700'" -->
                    <!--         class="px-4 py-2 border border-gray-300 rounded-t hover:bg-gray-100 transition duration-300"> -->
                    <!--         Password Login -->
                    <!--     </button> -->
                    <!-- </li> -->
                    <!-- <li @click="currentTab = 2"> -->
                    <!--     <button :class="currentTab === 2 ? 'bg-gray-300 text-black' : 'bg-white text-gray-700'" -->
                    <!--         class="px-4 py-2 border border-gray-300 rounded-t hover:bg-gray-100 transition duration-300"> -->
                    <!--         Signup -->
                    <!--     </button> -->
                    <!-- </li> -->
                </ul>
                <!-- Panel -->
                <div class="w-full py-4 px-6">
                    <div x-show="currentTab === 0">
                        <div class="flex my-6 justify-center">
                            <form action="/login-google" method="GET">
                                <button class="gsi-material-button border border-gray-400 rounded-lg p-2" type='submit'>
                                    <div class="gsi-material-button-content-wrapper flex items-center space-x-2">
                                        <div class="gsi-material-button-icon">
                                            <svg width="24" height="24" viewBox="0 0 48 48"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path fill="#EA4335"
                                                    d="M24 9.5c3.54 0 6.71 1.22 9.21 3.6l6.85-6.85C35.9 2.38 30.47 0 24 0 14.62 0 6.51 5.38 2.56 13.22l7.98 6.19C12.43 13.72 17.74 9.5 24 9.5z">
                                                </path>
                                                <path fill="#4285F4"
                                                    d="M46.98 24.55c0-1.57-.15-3.09-.38-4.55H24v9.02h12.94c-.58 2.96-2.26 5.48-4.78 7.18l7.73 6c4.51-4.18 7.09-10.36 7.09-17.65z">
                                                </path>
                                                <path fill="#FBBC05"
                                                    d="M10.53 28.59c-.48-1.45-.76-2.99-.76-4.59s.27-3.14.76-4.59l-7.98-6.19C.92 16.46 0 20.12 0 24c0 3.88.92 7.54 2.56 10.78l7.97-6.19z">
                                                </path>
                                                <path fill="#34A853"
                                                    d="M24 48c6.48 0 11.93-2.13 15.89-5.81l-7.73-6c-2.15 1.45-4.92 2.3-8.16 2.3-6.26 0-11.57-4.22-13.47-9.91l-7.98 6.19C6.51 42.62 14.62 48 24 48z">
                                                </path>
                                                <path fill="none" d="M0 0h48v48H0z"></path>
                                            </svg>
                                        </div>
                                        <span class="gsi-material-button-contents">Sign in with Google</span>
                                    </div>
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer class="relative pt-4 mt-2 pb-3 sm:px-20 xl:px-40">
        <div class="max-w-screen-xl px-4 py-12 mx-auto space-y-8 overflow-hidden sm:px-6 lg:px-8">
            <nav class="flex flex-wrap justify-center -mx-5 -my-2">
                <div class="px-5 py-2">
                    <a href="#" class="text-base leading-6 text-gray-500 hover:text-gray-900">
                        About (WIP)
                    </a>
                </div>
                <div class="px-5 py-2">
                    <a href="https://medium.com/@cliffy-gardens/my-singapore-library-app-is-live-b63fc9f5ae9a"
                        class="text-base leading-6 text-gray-500 hover:text-gray-900">
                        Blog
                    </a>
                </div>
                <div class="px-5 py-2">
                    <a href="#" disabled class="text-base leading-6 text-gray-500 hover:text-gray-900">
                        Team (WIP)
                </div>
                <div class="px-5 py-2">
                    <a href="mailto: sglibreads@gmail.com"
                        class="text-base leading-6 text-gray-500 hover:text-gray-900">
                        Contact
                    </a>
                </div>
            </nav>
            <div class="flex justify-center mt-8 space-x-6">
                <a href="https://www.linkedin.com/in/cliff-chew-kt/" target="_blank"
                    class="text-gray-400 hover:text-gray-500">
                    <i class="fab fa-linkedin fa-lg"></i>
                </a>

                <a href="https://github.com/cliffchew84/SG-Lib-Books" class="text-gray-400 hover:text-gray-500"
                    target="_blank">
                    <i class="fab fa-github fa-lg"></i>
                </a>
            </div>
        </div>
    </footer>

    <script>
        const passwordToggle = document.querySelector('.js-password-toggle')

        passwordToggle.addEventListener('change', function () {
            const password = document.querySelector('.js-password'),
                passwordLabel = document.querySelector('.js-password-label')

            if (password.type === 'password') {
                password.type = 'text'
                passwordLabel.innerHTML = 'hide'
            } else {
                password.type = 'password'
                passwordLabel.innerHTML = 'show'
            }

            password.focus()
        })

        const passwordToggle2 = document.querySelector('.js-password-toggle_2')

        passwordToggle2.addEventListener('change', function () {
            const password = document.querySelector('.js-password_2'),
                passwordLabel = document.querySelector('.js-password-label_2')

            if (password.type === 'password') {
                password.type = 'text'
                passwordLabel.innerHTML = 'hide'
            } else {
                password.type = 'password'
                passwordLabel.innerHTML = 'show'
            }

            password.focus()
        })
    </script>

    {% include 'footer.html' %}
