{% include 'header.html' %}
{% include 'navbar.html' %}

<div class="pt-8 mt-20 pb-3 px-10 sm:px-20 xl:px-40 text-gray-600">
    <div>
        <p class="text-xl">A library-centric view of your favourite Singapore library books!</p>
        <div class='md:flex text-base py-3 space-x-1'>
            <div>
                <p>
                    Using the <a class="font-semibold underline" target="_blank"
                        href="https://www.nlb.gov.sg/main/partner-us/contribute-and-create-with-us/NLBLabs">official NLB
                        REST v2 APIs</a> <span class="font-bold italic">(29-11-2023)</span>, this site aims to provide
                    an easier, single view of all your saved Singapore library books. Best viewed on desktop. Provide
                    feedback <a href="mailto: sglibreads@gmail.com" class="" text-gray-600 hover:text-gray-500"><i
                            class="far fa-envelope fa-lg"></i></a> Read about this project <a class="" text-gray-600
                        hover:text-gray-500 font-semibold underline" target="_blank"
                        href="https://medium.com/@cliffy-gardens/my-singapore-library-app-is-live-b63fc9f5ae9a"><i
                            class="fab fa-medium fa-lg"></i></a> Connect professionally <a
                        href="https://www.linkedin.com/in/cliff-chew-kt/" target="_blank"
                        class="text-gray-600 hover:text-gray-500"><i class="fab fa-linkedin fa-lg"></i>
                    </a>
                </p>
            </div>
        </div>
    </div>
    <div class="flex flex-col md:flex-row items-center justify-center md:space-x-16 pt-4">
        <!-- Login Form -->
        <div class="w-full md:w-5/6 lg:w-1/2 py-4 px-6 border border-gray-400 shadow-md rounded-lg">
            <form action="/login" method="POST">
                <div class="mb-3">
                    <label for="username" class="mx-3 text-sm font-semibold">Username</label>
                    <input type="text" id="username" name="username" required
                        class="flex px-2 py-2 mt-2 mx-3 w-11/12 md:text-base text-sm rounded-lg border border-black" />
                </div>

                <label for="password" class="mx-3 text-sm font-semibold">Password</label>
                <div class="relative w-full mt-2">
                    <!-- Password show and hide button -->
                    <div class="absolute inset-y-0 right-0 flex items-center px-4">
                        <input class="hidden js-password-toggle" id="login-toggle" type="checkbox" />
                        <label for="login-toggle"
                            class="bg-white rounded-lg px-2 mx-1 text-xs text-gray-600 font-semibold cursor-pointer js-password-label">show</label>
                    </div>

                    <input type="password" id="password" name="password" required
                        class="flex px-2 py-2 mt-2 mx-3 w-11/12 md:text-base text-sm rounded-lg border border-black js-password" />
                </div>

                <div class="flex mt-4">
                    <button type="submit" class="bg-blue-700 text-white rounded-lg py-1.5 px-3 mx-3">Login</button>
                    <a href="/forgot_password" class="text-blue-700 italic underline py-1.5 mx-3 px-3">Forgot
                        Password</a>
                </div>
            </form>
        </div>

        <!-- Registration Form -->
        <div class="w-full md:w-5/6 lg:w-1/2 py-4 px-6 border border-gray-400 shadow-md rounded-lg">
            <form action="/" method="POST">
                <div class="mb-3">
                    <label for="username" class="mx-3 text-sm font-semibold">Username</label>
                    <input type="text" id="username" name="username" required
                        class="flex px-2 py-2 mt-2 mx-3 w-11/12 md:text-base text-sm rounded-lg border border-black"
                        hx-get="/check_user_register/" hx-trigger="change, keyup delay:500ms"
                        hx-target="next .dup_user" />
                </div>

                <label for="password" class="mx-3 text-sm font-semibold">Password</label>
                <div class="relative w-full mt-2">
                    <!-- Password show and hide button -->
                    <div class="absolute inset-y-0 right-0 flex items-center px-4">
                        <input class="hidden js-password-toggle_2" id="register-toggle" type="checkbox" />
                        <label for="register-toggle" class="bg-white rounded-lg px-2 mx-1 text-xs font-semibold 
                            text-gray-600 cursor-pointer js-password-label_2">show</label>
                    </div>
                    <input type="password" class="flex px-2 py-2 mt-2 mx-3 w-11/12 md:text-base
                        text-sm rounded-lg border border-black js-password_2" id="password" name="password" required />
                </div>

                <div class="dup_user flex mt-4">
                    <button type="submit" class="bg-red-400 text-white rounded-lg py-1.5 px-3 mx-3">Register</button>
                </div>
            </form>
            {% if register_invalid %}
            <!-- Error message or form feedback can go here -->
            {% endif %}
        </div>
    </div>
</div>

<footer class="relative pt-4 mt-2 pb-3 sm:px-20 xl:px-40">
    <div class="max-w-screen-xl px-4 py-12 mx-auto space-y-8 overflow-hidden sm:px-6 lg:px-8">
        <nav class="flex flex-wrap justify-center -mx-5 -my-2">
            <div class="px-5 py-2">
                <a href="#" class="text-base leading-6 text-gray-500 hover:text-gray-900">
                    About (WIP)
                </a>
            </div>
            <div class="px-5 py-2">
                <a href="https://medium.com/@cliffy-gardens/my-singapore-library-app-is-live-b63fc9f5ae9a"
                    class="text-base leading-6 text-gray-500 hover:text-gray-900">
                    Blog
                </a>
            </div>
            <div class="px-5 py-2">
                <a href="#" disabled class="text-base leading-6 text-gray-500 hover:text-gray-900">
                    Team (WIP)
            </div>
            <div class="px-5 py-2">
                <a href="mailto: sglibreads@gmail.com" class="text-base leading-6 text-gray-500 hover:text-gray-900">
                    Contact
                </a>
            </div>
        </nav>
        <div class="flex justify-center mt-8 space-x-6">
            <a href="https://www.linkedin.com/in/cliff-chew-kt/" target="_blank"
                class="text-gray-400 hover:text-gray-500">
                <i class="fab fa-linkedin fa-lg"></i>
            </a>

            <a href="https://github.com/cliffchew84/SG-Lib-Books" class="text-gray-400 hover:text-gray-500"
                target="_blank">
                <i class="fab fa-github fa-lg"></i>
            </a>
        </div>
    </div>
</footer>

<script>
    const passwordToggle = document.querySelector('.js-password-toggle')

    passwordToggle.addEventListener('change', function () {
        const password = document.querySelector('.js-password'),
            passwordLabel = document.querySelector('.js-password-label')

        if (password.type === 'password') {
            password.type = 'text'
            passwordLabel.innerHTML = 'hide'
        } else {
            password.type = 'password'
            passwordLabel.innerHTML = 'show'
        }

        password.focus()
    })

    const passwordToggle2 = document.querySelector('.js-password-toggle_2')

    passwordToggle2.addEventListener('change', function () {
        const password = document.querySelector('.js-password_2'),
            passwordLabel = document.querySelector('.js-password-label_2')

        if (password.type === 'password') {
            password.type = 'text'
            passwordLabel.innerHTML = 'hide'
        } else {
            password.type = 'password'
            passwordLabel.innerHTML = 'show'
        }

        password.focus()
    })
</script>

{% include 'footer.html' %}
