<div class='main_content'>
    <div class='items-center justify-center px-2 h-full'>
        <form method="GET" class="join form-inline flex items-center justify-center" hx-target="next .search_table"
            hx-get="/htmx_search" hx-indicator="#head-spinner">

            {% if keyword %}
            <input
                class="join-item flex mt-4 py-2 w-1/2 md:text-base text-sm form-control rounded-lg border-2 border-sky-700"
                placeholder="Search by title / ISBN" type="search" id="book_search" name="book_search"
                value="{{keyword|safe}}" />

            {% else %}

            <input
                class="join-item flex mt-4 py-2 w-1/2 md:text-base text-sm form-control rounded-lg border-2 border-sky-700"
                placeholder="Search by title / ISBN" type="search" id="book_search" name="book_search" />
            {% endif %}

            {% if author %}
            <input
                class="join-item flex mt-4 py-2 md:w-1/4 w-1/2 md:text-base text-sm form-control rounded-lg border-2 border-sky-700"
                placeholder="Author (Optional)" type="search" id="author" name="author" value="{{author|safe}}" />

            {% else %}

            <input
                class="join-item flex mt-4 py-2 md:w-1/4 w-1/2 md:text-base text-sm form-control rounded-lg border-2 border-sky-700"
                placeholder="Author (Optional)" type="search" id="author" name="author" />

            {% endif %}

            <!--Search button-->
            <button type="submit" class="join-item flex items-center bg-sky-700 mt-4 px-2 py-2 rounded-lg 
            hover:text-white hover:bg-sky-500 text-white">
                <i class="fas fa-search"></i>
            </button>
        </form>

        <div class="flex justify-center mx-auto pt-2 px-2 md:w-3/4 w-full">
            <p class='mx-auto flex justify-center text-sm italic pt-2 px-2'>
                *Currently, Search is directly from NLB, and it isn't good.
                I would advise to search with ISBN OR book titles with author for
                specific books. I am trying to see how I can make this NLB search
                function workable.
            </p>
        </div>
    </div>

    <div class="mx-auto max-w-screen-lg px-4 mt-3">
        {% if status %}

        {% include 'update_status.html' %}

        {% endif %}

        <!-- Search Results -->
        <div class="search_table"></div>
    </div>

    <script>
        function checkSelection() {
            var checkboxes = document.querySelectorAll('input[type="checkbox"]');
            var submitButton = document.getElementById("submitButton");
            var atLeastOneChecked = false;

            checkboxes.forEach(function (checkbox) {
                if (checkbox.checked) {
                    atLeastOneChecked = true;
                }
            });

            if (atLeastOneChecked) {
                submitButton.disabled = false;
            } else {
                submitButton.disabled = true;
            }
        }
    </script>
</div>
