<div class="main_content">
    <div class="w-full overflow-x-auto my-3">
        {% if status %}

        {% include 'update_status.html' %}

        {% endif %}
        <div class="mx-auto max-w-screen-lg px-4">

            <input class="mx-auto md:text-base text-sm form-control w-full rounded-lg p-2 my-2 border-2 border-sky-700"
                id="myInput" type="text" placeholder="Search your saved books by keywords in their title!">

            <form hx-post="/delete_books" hx-indicator="#head-spinner" hx-target="#user_books" hx-swap="outerHTML">
                {% include 'm_yourbooks_table.html' %}
            </form>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            $("#myInput").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#myTable tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });

        function checkSelection() {
            var checkboxes = document.querySelectorAll('input[type="checkbox"]');
            var submitButton = document.getElementById("submitButton");
            var atLeastOneChecked = false;

            checkboxes.forEach(function (checkbox) {
                if (checkbox.checked) {
                    atLeastOneChecked = true;
                }
            });

            if (atLeastOneChecked) {
                submitButton.disabled = false;
            } else {
                submitButton.disabled = true;
            }
        }
    </script>
</div>
