<div class='main_content mt-20'>
    <div class="mx-auto my-15 p-4 md:w-1/2 items-center justify-center">
        <div class="flex flex-row items-center">
            <div class="pt-2 py-2 text-3xl font-semibold text-sky-800">
                Your profile
            </div>
            <div class="htmx-indicator update_status text-center px-3 pt-1 font-semibold text-sky-800">Status Updated!
            </div>
        </div>

        <div>
            <form hx-post="/update_user/{{username}}" hx-target=".main_content" hx-indicator='.update_status'>
                <label class="italic">Username</label>
                <input
                    class="mx-auto md:text-base text-sm form-control w-full rounded-lg p-2 my-2 border-2 border-sky-700"
                    id="username" name="username" type="text" value="{{username|safe}}" disabled />

                <label class="italic">Email* (Optional)</label>
                <input
                    class="mx-auto md:text-base text-sm form-control w-full rounded-lg p-2 my-2 border-2 border-sky-700"
                    id="email_address" name="email_address" type="text" placeholder="{{email_address|safe}}"
                    value="{{email_address|safe}}" />

                <label class="italic">Favourite Library (Optional - Based on existing books)</label>
                <select id="preferred_lib" name="preferred_lib"
                    class="select select-ghost border-sky-800 border-2 mt-2 w-full mb-2">

                    {% if preferred_lib %}
                    <option value="{{preferred_lib|safe}}" selected>
                        {{preferred_lib|safe}}</option>

                    {% else %}

                    <option value='None' selected>None</option>

                    {% endif %}

                    {% for lib in all_unique_lib %}

                    {% if lib != preferred_lib %}
                    <option value='{{ lib }}'>
                        {{ lib }}</option>

                    {% else %}

                    {% endif %}
                    {% endfor %}
                </select>

                <label for="pw_qn" class="w-full">Password Reset Question</label>
                <select name='pw_qn' id='pw_qn' class="select select-ghost border-sky-800 border-2 mt-2 w-full mb-2">
                    {% if pw_qn %}

                    <option>{{ pw_qn }}</option>
                    <option>My Pet's Name</option>
                    <option>My Birthday (DD/MM/YY)</option>
                    <option>My Favourite Fruit</option>
                    <option>My Favourite City</option>
                    <option>My Favourite Local Food</option>

                    {% else %}

                    <option selected disabled>Select a question for password reset</option>
                    <option>My Pet's Name</option>
                    <option>My Birthday (DD/MM/YY)</option>
                    <option>My Favourite Fruit</option>
                    <option>My Favourite City</option>
                    <option>My Favourite Local Food</option>

                    {% endif %}

                </select>

                <label for="pw_ans">Password Reset Answer</label>
                <div class="relative w-full" <!-- Password show and hide button -->
                    <div class="absolute inset-y-0 right-0 flex items-center px-4 xs:px-4 sm:px-4 xl:px-8">
                        <input class="hidden js-password-toggle" id="login-toggle" type="checkbox" />
                        <label class="bg-white rounded-lg px-2 mx-1 mt-4
                            text-xs text-gray-600 font-semibold cursor-pointer js-password-label"
                            for="login-toggle">show</label>
                    </div>
                </div>
                <!-- Password show and hide button -->

                {% if pw_ans %}

                <input type="password" class="mx-auto md:text-base text-sm form-control w-full rounded-lg 
                    p-2 my-2 border-2 border-sky-700 js-password" id='pw_ans' name='pw_ans' value={{ pw_ans }} />

                {% else %}

                <input type="password" class="mx-auto md:text-base text-sm form-control w-full rounded-lg 
                    p-2 my-2 border-2 border-sky-700 js-password" id='pw_ans' name='pw_ans'
                    placeholder="******** (None)" />

                {% endif %}

                <label for="pw_ans">Change Account Password</label>
                <input type="new_password" class="mx-auto md:text-base text-sm form-control w-full rounded-lg 
                    p-2 my-2 border-2 border-sky-700 js-password" id='password' name='password'
                    placeholder="Input your new password here" />

                <button type=" submit" class="bg-sky-800 px-2 my-1 py-1 rounded-lg 
                    hover:text-white hover:bg-sky-500 text-white">
                    Update Account
                </button>
            </form>

            <!-- Add modal content -->
            <button class="bg-red-700 px-2 py-1 rounded-lg hover:text-white hover:bg-red-400 text-white"
                onclick="my_modal_1.showModal()">Delete Account</button>
            <dialog id="my_modal_1" class="modal">
                <div class="modal-box">
                    <h3 class="font-bold text-lg">Hey!</h3>
                    <p class="py-4">Are you sure you want to delete the account?
                        This action cannot be reversed!</p>
                    <div class="modal-action">
                        <form action="/delete_user/{{username}}" method="POST">
                            <button type="submit" class="bg-red-700 px-2 py-1 rounded-lg 
                            hover:text-white hover:bg-red-400 text-white">
                                Delete Account
                            </button>
                        </form>
                    </div>
                </div>
            </dialog>

        </div>

    </div>

    <script>
        const passwordToggle = document.querySelector('.js-password-toggle')

        passwordToggle.addEventListener('change', function () {
            const password = document.querySelector('.js-password'),
                passwordLabel = document.querySelector('.js-password-label')

            if (password.type === 'password') {
                password.type = 'text'
                passwordLabel.innerHTML = 'hide'
            } else {
                password.type = 'password'
                passwordLabel.innerHTML = 'show'
            }

            password.focus()
        })
    </script>
</div>
