{% include 'header.html' %}
{% include 'navbar.html' %}
<style>
    .container {
        margin-top: 1em;
        max-width: 500px;
        margin-left: auto;
        margin-right: auto;
    }
</style>
<div class="container">
    <form action="/register" method="POST">
        <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" class="form-control" id='username' name='username' required>
        </div>
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id='password' name='password'>
        <div class="mb-3">

        </div>
        <button type="submit" class="btn btn-primary">Register</button>
    </form>
    {% if invalid %}
        <p style="margin-top: 0.5em; color: red;">User is already registered.</p>
    {% endif %}
</div>

{% include 'footer.html' %}
