<div class="main_content bg-white">
  <div class="mt-20 h-full items-center justify-center px-2 pt-2">
    <form
      method="GET"
      hx-target="next .search_table"
      hx-get="/search/results"
      hx-indicator="#head-spinner"
    >
      <div class="flex items-center justify-center space-x-2 pt-2">
        <input
          type="checkbox"
          id="e_resources"
          name="e_resources"
          value="True"
          class="checkbox-info checkbox form-control checkbox-xs border-sky-500 hover:bg-sky-500"
        />
        <label for="e_resources">Include eResources**</label>
      </div>

      <div class="form-inline join flex items-center justify-center">
        {% if keyword %}
        <input
          placeholder="Title / ISBN"
          type="search"
          id="book_search"
          name="book_search"
          class="form-control join-item mt-2 flex w-1/2 rounded-lg border-2 border-sky-700 bg-white px-2 py-2 text-sm md:text-base"
          value="{{keyword|safe}}"
        />

        {% else %}

        <input
          placeholder="Title / ISBN"
          type="search"
          id="book_search"
          name="book_search"
          class="form-control join-item mt-2 flex w-1/2 rounded-lg border-2 border-sky-700 bg-white px-2 py-2 text-sm md:text-base"
        />

        {% endif %} {% if author %}
        <input
          placeholder="Author (Optional)"
          type="search"
          id="author"
          name="author"
          value="{{author|safe}}"
          class="form-control join-item mt-2 flex w-1/2 rounded-lg border-2 border-sky-700 bg-white px-2 py-2 text-sm md:w-1/4 md:text-base"
        />

        {% else %}

        <input
          placeholder="Author (Optional)"
          type="search"
          id="author"
          name="author"
          class="form-control join-item mt-2 flex w-1/2 rounded-lg border-2 border-sky-700 bg-white px-2 py-2 text-sm md:w-1/4 md:text-base"
        />

        {% endif %}

        <!--Search button-->
        <button
          type="submit"
          class="join-item mt-2 flex items-center rounded-lg bg-sky-700 px-2 py-2 text-white hover:bg-sky-500 hover:text-white"
        >
          <i class="fas fa-search"></i>
        </button>
      </div>
    </form>

    <p class="mx-auto flex justify-center px-2 text-sm italic">
      *Search is provided by NLB. Please use [ISBN] OR [Title] OR [Author] to
      refine search results.
    </p>
  </div>

  <div class="mx-auto mt-3 max-w-screen-lg px-4">
    <div class="search_table"></div>
  </div>

  <script>
    function checkSelection() {
      var checkboxes = document.querySelectorAll('input[type="checkbox"]');
      var submitButton = document.getElementById("submitButton");
      var atLeastOneChecked = false;

      checkboxes.forEach(function (checkbox) {
        if (checkbox.checked) {
          atLeastOneChecked = true;
        }
      });

      if (atLeastOneChecked) {
        submitButton.disabled = false;
      } else {
        submitButton.disabled = true;
      }
    }
  </script>
</div>
