<div class="search_table">
    <form method="POST" action="/ingest_books">
        <table class="mx-auto table-auto border-collapse w-full table-sm divide-y divide-gray-800">
            <thead class='rounded-lg'>
                <tr class='bg-sky-700 text-white rounded-lg'>
                    <th class="flex justify-center items-center">
                        <button type="submit" id="submitButton" class="bg-sky-500 px-2 my-1 py-1 rounded-lg 
                                    hover:text-white hover:bg-sky-200 text-white disabled:bg-gray-400 
                                    disabled:hover:bg-gray-400" disabled>Add
                        </button>
                    </th>
                    <th>Title</th>
                    <th>Author</th>
                    <th>Year</th>
                </tr>
            </thead>
            <tbody id="myTable">

                {% for data in api_data %}

                <tr>
                    {% for a in data %}

                    {% if a == "BID" %}
                    {% set disable, BID = data[a].split(' | ') %}
                    <td class="flex justify-center items-center">
                        <div class="pt-1 flex items-center">
                            <label>
                                <input type="checkbox" class="checkbox checkbox-info hover:bg-sky-500 border-sky-500"
                                    name='bids' value='{{BID}}' onchange="checkSelection()" {{ disable }} />
                            </label>
                        </div>
                    </td>

                    {% elif a == "TitleName" %}
                    {% set TitleName, BID = data[a].split(' | ') %}

                    <td> <a href="https://eservice.nlb.gov.sg/item_holding.aspx?id={{BID}}&type=bid&app=mylibrary"
                            class="button text-blue-800 underline font-semibold" target="_blank" rel="noopener
                            noreferrer">{{ TitleName }}</a>

                        {% else %}

                    <td>{{ data[a] }}</td>

                    {% endif %}

                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </form>
</div>
