<div class="search_table overflow-x-auto h-screen">
    <form method="POST" action="/ingest_books">
        <table class="table table-pin-rows w-full table-sm">
            <thead class='rounded-lg'>
                <tr class='bg-sky-700 text-white rounded-lg'>
                    <th class="flex justify-center items-center">
                        <button type="submit" id="submitButton" class="bg-sky-500 px-2 my-1 py-1 rounded-lg 
                                    hover:text-white hover:bg-sky-200 text-white disabled:bg-gray-400 
                                    disabled:hover:bg-gray-400" disabled>Add
                        </button>
                    </th>
                    <th>Title</th>
                    <th>Author</th>
                    <th>Year</th>
                </tr>
            </thead>
            <tbody id="myTable">
                {% for data in api_data %}
                <tr>
                    {% set disable, BID = data['BID'].split(' | ') %}
                    <td class="flex justify-center items-center">
                        <div class="pt-1 flex items-center">
                            <label>
                                <input type="checkbox" class="checkbox checkbox-info hover:bg-sky-500 border-sky-500"
                                    name='bids' value='{{BID}}' onchange="checkSelection()" {{ disable }} />
                            </label>
                        </div>
                    </td>

                    {% set TitleName, BID = data['TitleName'].split(' | ') %}
                    <td> <a href="https://eservice.nlb.gov.sg/item_holding.aspx?id={{BID}}&type=bid&app=mylibrary"
                            class="button text-blue-800 underline font-semibold" target="_blank" rel="noopener
                            noreferrer">{{ TitleName }}</a>

                    <td>{{ data['Author']}}</td>
                    <td>{{ data['PublishYear'] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </form>
    {% if start_page %}
    <div class="items-center justify-center">
        <button hx-get="/navigate_search" hx-target='.search_table' hx_indicator="#head_spinner"
            class="hx_indicator italic underline text-blue-800 hover:text-blue-500">Previous</button>
        <button hx-get="/next_search" hx-target=".search_table" hx_indicator="#head_spinner"
            class="italic underline text-blue-800 hover:text-blue-500">Next</button>
    </div>
    {% endif %}
</div>
