{% include 'header.html' %}
{% include 'navbar.html' %}

<div>
    <form class="form-inline flex items-center justify-center" action="/{{username}}/search/" method="GET">

        <input class="flex mt-4 py-2 w-1/2 md:text-base text-sm form-control rounded-lg border-2 border-blue-800"
            placeholder="Search for books in NLB" type="search" id="book_search" name="book_search" />

        <!--Search button-->
        <button type="submit"
            class="flex items-center bg-sky-500 mt-4 px-3 py-2 pb-2.5 rounded-lg hover:text-white hover:bg-sky-300 text-white">
            Search
        </button>
    </form>
</div>

<div class="mx-auto max-w-screen-lg px-4 mt-3">
    {% if status %}

    {% include 'update_status.html' %}

    {% endif %}

    {% if keyword %}

    <table class="mx-auto table-auto border-collapse table-sm md:p-10 divide-y divide-gray-800">
        <thead class="bg-gray-300 rounded-lg">
            <tr class='text-sm rounded-lg bg-blue-100'>
                <th></th>
                <th>Titles from searching <-{{keyword}}-> </th>
                <th>Author</th>
                <th>Year</th>
            </tr>
        </thead>
        <tbody id="myTable">

            {% for data in api_data %}

            <tr>
                {% for a in data %}

                {% if a == "BID" %}
                {% set disable, BID = data[a].split(' | ') %}

                <td>
                    <form action="/ingest_book/{{BID}}" method="POST">
                        <button type="submit" class="bg-sky-500 px-3 my-1 py-1 rounded-lg 
                                    hover:text-white hover:bg-sky-300 text-white disabled:bg-gray-400 
                                    disabled:hover:bg-gray-400" {{ disable }}>
                            Add
                        </button>
                    </form>
                </td>

                {% elif a == "TitleName" %}
                {% set TitleName, BID = data[a].split(' | ') %}

                <td> <a href="https://eservice.nlb.gov.sg/item_holding.aspx?id={{BID}}&type=bid&app=mylibrary"
                        class="button text-indigo-600" target="_blank" rel="noopener
                            noreferrer">{{ TitleName }}</a>

                    {% else %}

                <td>{{ data[a] }}</td>

                {% endif %}

                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% endif %}
</div>

{% include 'footer.html' %}
