<div class="flex sm:flex-row flex-col space-x-0 sm:space-x-24 pt-10 justify-center
    text-left">
    <div class="flex flex-col sm:px-2 py-2 px-0 sm:w-1/2">
        <div class="flex font-semibold text-lg">
            You have your account now. What's next?
        </div>
        <div>
            <ol class="pl-6 list-decimal">
                <li>Search for library books at <span class="font-semibold capitalize"><i class="fas fa-search"></i>
                        NLB</span>
                </li>
                <li>View your saved books in <span class="font-semibold capitalize"><i class="fas fa-book"></i>
                        Books</span>
                </li>
                <li>View your book availabilities in <span class="font-semibold capitalize"><i class="fas fa-city"></i>
                        Libraries</span>
                </li>
                <li>Update your books' availability on <span class="font-semibold capitalize">
                        <i class="fas fa-sync"></i> Book Status</span> or individual <i class="fas fa-sync"></i>
                </li>
                <li>Click on title links to go to their NLB page - e.g. <a
                        href="https://eservice.nlb.gov.sg/item_holding.aspx?id=205431306&type=bid&app=mylibrary"
                        class="text-blue-800 font-semibold underline" target="_blank" rel="noopener noreferrer">
                        Python for DevOps</a>
                </li>
                <li>More features will be added so do keep a lookout</li>
                <li>To provide any feedback, email me at <span
                        class="font-semibold underline">sglibreads@gmail.com</span>
                </li>
            </ol>
        </div>
    </div>
