<div class="main_content">
    <div class="w-full overflow-x-auto my-3">
        <div class="mx-auto max-w-screen-lg px-4">

            <input class="mx-auto md:text-base text-sm form-control w-full rounded-lg p-2 my-2 border-2 border-sky-700"
                id="myInput" type="text" placeholder="Search your saved books by keywords in their title!">

            <form hx-post="/delete_books" hx-indicator="#head-spinner" hx-target=".main_content">
                <table id="user_books" class="mx-auto table-auto border-collapse rounded-lg table-sm w-full">
                    <thead class=' rounded-lg'>
                        <tr class='bg-sky-700 text-white rounded-lg'>
                            <th class="hidden md:block">Number</th>
                            <th>Your Books</th>
                            <th class="flex justify-center items-center">
                                <button type="submit" id="submitButton" class="bg-red-700 px-2 my-1 py-1 rounded-lg 
                                    hover:text-white hover:bg-red-400 text-white disabled:bg-gray-400 
                                    disabled:hover:bg-gray-400" disabled>
                                    <i class="fas fa-trash" aria-hidden="true"></i>
                                </button>
                            </th>
                        </tr>
                    </thead>
                    <tbody id="myTable">
                    <tbody id="myTable">
                        {% for data in api_data %}
                        <tr>
                            <td class="hidden md:block">{{ data['CallNumber'] }}</td>
                            <td>
                                <a href="https://catalogue.nlb.gov.sg/search/card?recordId={{ data['BID'] }}"
                                    class="button text-blue-800 font-semibold my-2 underline" target="_blank" rel="noopener
                            noreferrer">{{ data['TitleName'] }}
                                </a>
                            </td>
                            <td class="flex justify-center items-center">
                                <div class="pt-1 h-full flex items-center">
                                    <label>
                                        <input type="checkbox"
                                            class="checkbox checkbox-error hover:bg-red-500 border-red-500" name='bids'
                                            value="{{data['BID']}}" onchange="checkSelection()" />
                                    </label>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </form>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            $("#myInput").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#myTable tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });

        function checkSelection() {
            var checkboxes = document.querySelectorAll('input[type="checkbox"]');
            var submitButton = document.getElementById("submitButton");
            var atLeastOneChecked = false;

            checkboxes.forEach(function (checkbox) {
                if (checkbox.checked) {
                    atLeastOneChecked = true;
                }
            });

            if (atLeastOneChecked) {
                submitButton.disabled = false;
            } else {
                submitButton.disabled = true;
            }
        }
    </script>
</div>
