<div class="main_content">
    <!-- Current this is working, not the bar above -->
    {% if status %}
    {% include 'update_status.html' %}
    {% endif %}
    <div class="w-full overflow-x-auto my-3 mt-18 pt-20 sm:px-20 xl:px-40"">
        <div class=" mx-auto max-w-screen-lg px-4">
        <div x-data="{
            items: {{ api_data }},
            search: '',
            type: 'asc.TitleName',
            filteredItems() {
                // Filter and Sort Items
                return this.items
                    .filter(item =>
                        item.TitleName.toLowerCase().includes(this.search.toLowerCase()) ||
                        item.Author.toLowerCase().includes(this.search.toLowerCase()) ||
                        item.CallNumber.toLowerCase().includes(this.search.toLowerCase())
                    )
                    .sort((a, b) => {
                        if (this.type.startsWith('asc')) {
                            return a[this.type.split('.')[1]].localeCompare(b[this.type.split('.')[1]]);
                        } else {
                            return b[this.type.split('.')[1]].localeCompare(a[this.type.split('.')[1]]);
                        }
                    });
                }
            }">

            <input id="UserBookSearch" type="text" placeholder="Search your books by titles!" x-model="search"
                class="px-2 py-2 md:text-base text-sm form-control w-full rounded-lg my-2 border-2 border-blue-800">
            <div class="flex flex-col space-y-1">
                <select class="select select-bordered border-sky-700 w-1/4 select-sm max-w-xs" x-model="type">
                    <option value="">Sort your books</option>
                    <option value="asc.TitleName">Title (Asc)</option>
                    <option value="desc.TitleName">Title (Desc)</option>
                    <option value="asc.CallNumber">CallNumber (Asc)</option>
                    <option value="asc.CallNumber">CallNumber (Asc)</option>
                    <option value="asc.Author">Author (Asc)</option>
                    <option value="desc.Author">Author (Desc)</option>
                </select>
            </div>

            <div x-sort.items="type">
                <template x-for="(item, index) in filteredItems()">
                    <div x-data="{ open: false }" class="mt-1 card w-full card-bordered border-sky-700 card-compact">
                        <div class="card-body">
                            <div class="flex items-center">
                                <p class="flex-grow px-2">
                                    <a x-bind:href="'https://catalogue.nlb.gov.sg/search/card?recordId=' + item.BID"
                                        class="hidden md:block text-blue-800 hover:text-blue-600 font-semibold underline"
                                        target="_blank" rel="noopener noreferrer"
                                        x-text="index+ ' - ' +item.TitleName.split(' | ', 1)[0]">
                                    </a>

                                    <a x-bind:href="'https://catalogue.nlb.gov.sg/search/card?recordId=' + item.BID"
                                        class="md:hidden block text-blue-800 hover:text-blue-600 font-semibold underline"
                                        target="_blank" rel="noopener noreferrer"
                                        x-text="index+ ' - ' +item.TitleName.split(' : ', 1)[0]">

                                    </a>
                                    <button class="text-sky-700 hover:text-red-400" @click="open = ! open">
                                        <i class="fas fa-info-circle"></i>
                                    </button>
                                    <span class="badge badge-outline" x-text="item.CallNumber"></span>
                                    <span><b>Author: </b><span x-text="item.Author"></span>
                                        <span>
                                            <button class="text-sky-700 hover:text-red-400"
                                                x-bind:hx-delete="'/books/' + item.BID" hx-swap='outerHTML'
                                                hx-indicator="#head-spinner" hx-target="closest .card">
                                                <i class="fas fa-trash"></i>
                                            </button>
                                        </span>
                                </p>
                            </div>
                            <span x-show="open" @click.outside="open = false">
                                <ul class='pl-2'>
                                    <li><b>Publisher: </b> <span x-text="item.Publisher"></span></li>
                                    <li><b>Subjects: </b> <span x-text="item.Subjects"></span></li>
                                    <li><b>isnbs: </b> <span x-text="item.isbns"></span></li>
                                </ul>
                            </span>
                        </div>
                    </div>
                </template>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        const cards = $('.card'); // Select all card elements
        const searchInput = $("#UserBookSearch");

        // Function to handle real-time search
        function filterBySearch() {
            const searchValue = searchInput.val().toLowerCase();
            cards.each(function () {
                const cardText = $(this).text().toLowerCase();
                if (searchValue.length > 0 && cardText.indexOf(searchValue) === -1) {
                    $(this).hide();
                } else {
                    $(this).show();
                }
            });
        }
    });
</script>
