{% include 'header.html' %}
{% include 'navbar.html' %}

<div class="w-full overflow-x-auto my-3">
    <div class="mx-auto max-w-screen-lg px-4">

        <input class="mx-auto md:text-base text-sm form-control w-full rounded-lg p-2 my-2 border-2 border-blue-800"
            id="myInput" type="text" placeholder="Search your saved books by keywords in their title!">

        <table class="mx-auto table-auto border-collapse table-xs md:table-md md:p-10 divide-y divide-gray-800">
            <thead class="bg-gray-300 rounded-lg">
                <tr class='text-sm rounded-lg bg-blue-100'>
                    <th></th>
                    <th>Lib No.</th>
                    <th>Your Books</th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="myTable">

                {% for data in api_data %}

                <tr>
                    {% for a in data %}
                    {% if data[a]|int !=0 %}

                    <td>
                        <form action="/delete_book/{{data[a]}}" method="POST">
                            <button type="submit" class="bg-sky-500 px-3 py-1 rounded-lg 
                            hover:text-white hover:bg-sky-300 text-white">Delete
                            </button>
                        </form>
                    </td>

                    {% elif a == "TitleName" %}
                    {% set TitleName, BID = data[a].split(' | ') %}
                    <td>
                        <a href="https://eservice.nlb.gov.sg/item_holding.aspx?id={{BID}}&type=bid&app=mylibrary"
                            class="button text-indigo-600 hover:font-semibold -my-2" target="_blank" rel="noopener
                            noreferrer">{{ TitleName }}
                        </a>

                        {% else %}

                    <td>{{ data[a] }}</td>

                    {% endif %}

                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#myInput").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#myTable tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>

{% include 'footer.html' %}
