{% include 'header.html' %}
{% include 'navbar.html' %}

<div class="container-fluid">
    <div class="row justify-content-center" style="text-align: center;">
        <div class="col col-sm-20" style="margin: 1.5em 0.5em;"> 
            <h3>Saved NLB Books</h3>

             <table class="table table-hover">
                 <thead> 
                    <tr>
                        <th>No</th>
                        <th>Call Number</th>
                        <th>Title</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody id="myTable"> 
                        
                    {% for data in api_data %}

                    <tr> 
                        {% for a in data %}
                            {% if data[a]|int !=0 %}

                            <td style="vertical-align: middle;"> 
                            <form action="/delete_book/{{data[a]}}" method="POST">
                                <button type="submit" 
                                    class="btn btn-secondary">Delete
                                </button> 
                            </form> 
                            </td>
                            
                            {% elif a == "TitleName" %}
                            {% set TitleName, BID = data[a].split(' | ') %}
                            <td style="vertical-align: middle;"> <a
                                href="https://eservice.nlb.gov.sg/item_holding.aspx?id={{BID}}&type=bid&app=mylibrary"
                                class="button" target="_blank" rel="noopener
                            noreferrer">{{ TitleName }}</a> 

                            {% else %}
                            
                            <td style="vertical-align: middle;">{{ data[a] }}</td>
                            
                            {% endif %}

                        {% endfor %}
                    </tr> 
                    {% endfor %} 
                </tbody>
            </table>
        </div>
    </div>
</div>

    <script>
    $(document).ready(function(){
      $("#myInput").on("keyup", function() {
        var value = $(this).val().toLowerCase();
        $("#myTable tr").filter(function() {
          $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
      });
    });
    </script>

{% include 'footer.html' %}
